   
div.Product{
    float: left;
    width: 200px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 30px;
    margin-right: 20px;
}
div.Product a{
    float: left;
    width: 100%;
    text-align: center;
}
div.Product a.img{
    text-align: center;
    margin-top: 5px;
}
div.Product a.img img{
    height: 200px;
    width: 200px;
}
div.Product a.name {
    font-weight: bolder;
    color: black;
    font-size: 13px;
    text-decoration: none;
}
div.Product a.name:hover{
    color: blue;
}
div.Product div{
    font-size: 18px;
    font-weight: bold;
    color: crimson;
    float: left;
}
div.Product a.cart{
    border: black 1px solid;
    background: black;
    line-height: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    
}
div.Product a.cart:hover{
    background-color:#00f7ff;
    color: black;
}

div.products{
    display: table;
    margin-left: 120px;
}

div.products ul li{
 float: left;
    margin-bottom: 10px;
    list-style: none;
}
div.products img {
    padding: 20px;
    background-color: transparent;
}