
.bookinfo {
    margin-left: 100px;
}
.bookinfo img {

    float: left;
    position: relative;
    margin-top: 14px;
    margin-right: 20px;
}

.bookinfo ul {
    font-family:arial;
    font-size:20px;
margin-left: 30px;
    list-style-type: none;
    padding: 20px;
}
.bookinfo li {
    margin-bottom: 20px;
}



.bookinfo button{
 margin-top: 20px;
  width: 200px;
  height: 50px;
  color: red;    
}

.all{
    position:relative;
   
    top:100px;
    margin-left: 40px;
}
/* Start Overview */
.overview1 {
	padding: 90px 0;
    margin-bottom: 100px;
}
.overview1 h2 {
	text-transform: uppercase ;
	font-size: 35px;
	margin-bottom: 30px ;
	font-weight: bold;
	color: #000000 ;
}
.overview1 p {
	line-height: 1.5 ;
	font-size: 20px;
	width: 100% ;
	margin:0 auto 15px;
	color: #000000f5 ;
    margin-bottom: 40px;
}
.overview1 a{
 background-color: rgba(0, 0, 0, 0.76) ;
 color: rgb(255, 255, 255);
 padding: 10px 20px ;
 font-size: 20px;
 font-weight: bold;
 border: 1px soild #ffffff ;
}
.col {
    margin-bottom: 20px;
    margin-left: 45px;
}
.col-qty > * {
    vertical-align: middle; 
  }
  
  .col-qty > input {
    max-width: 2.6em;
  }
  
  
  a.qty {
    width: 2em;
    line-height: 1em;
    border-radius: 2em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background: #43ace3;  
    color: #fff;
  }
  
  a.qty:hover {
    background: #3b9ac6;
  }
  input {
    border: 0.3em solid #bbc3c6;
    width: 50px;
    font-size: 1.4em;
    color: #8a8a8a;
    text-align: center;
  }
  .col-numeric p {
    font: bold 1.8em helvetica;
  }
  
  .col {
    margin-bottom: 20px;
    margin-left: 45px;
}
.col-qty > * {
    vertical-align: middle; 
  }
  
  .col-qty > input {
    max-width: 2.6em;
  }
  
  
  a.qty {
    width: 2em;
    line-height: 1em;
    border-radius: 2em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background: #43ace3;  
    color: #fff;
  }
  
  a.qty:hover {
    background: #3b9ac6;
  }
  .col input {
    border: 0.3em solid #bbc3c6;
    width: 50px;
    font-size: 1.4em;
    color: #8a8a8a;
    text-align: center;
  }
  .col-numeric p {
    font: bold 1.8em helvetica;
  }

#addcart{
 margin-top: 20px;
  width: 200px;
  height: 50px;
  color: red;   
}